body{
    margin: 0 auto ;
    
}
nav{
    background-color: rgb(245, 201, 209);
    text-decoration: underline;
}
article img{
    width: 150px;
    height: 200px;
}
ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul li{
    margin-right: 20px;
    padding: 20px;
   
}
a{
    text-decoration: none;
    color: var(--colorMain);
    font-size: 20px;
}
#active{
    background-color: var(--colorMain);
    color: var(--colorWhite);
    padding: 20px;
}

nav ul li a:hover{
    border-bottom: 2px solid var(--colorMain);
}

nav ul li a:active{
    background-color: var(--colorWhite);
    color: var(--colorMain);
    padding: 20px;
}
.search-form{
    margin-right: 20px;
    background-color: var(--colorWhite);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #666666;
   
}
.search-form {
    position:absolute; /* Đặt vị trí tuyệt đối cho thanh tìm kiếm */
    top: 10px; /* Khoảng cách từ cạnh trên của trang */
    right: 10px; /* Khoảng cách từ cạnh phải của trang */
  }
 
.search-form input{
    border: none;
    padding: 5px;
    outline: none;
}
main{
    width: 75%;
    margin: auto;
}
.search-form button{
    background-color: var(--colorMain);
    color: var(--colorWhite);
    border: none;
    background-color:violet;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
h2{
    font-size: 24px;
    margin-bottom: 24px;
}
footer{
    margin-top: 20px;
    background-color: rgb(245, 201, 209);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.about, .section-services{
    text-align: center;
    margin: 50px 0;
}

h2{
    font-size: 24px;
    margin-bottom: 24px;
}

.section-services ul, article{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.section-services ul li i{
    color: var(--colorMain);
    margin: 34px 0;
}

.section-services ul li{
    width: 30%;
    box-shadow: 0 0 10px #858585;
    border-radius: 10px;
    padding: 20px;
}

.image{
    min-width: 45%;
}

.image>img{
    width: 100%;
    height: 320px;
}
.block-product{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.product-item{
    width: 49%;
    border: 1px solid var(--colorGrey);
    padding: 20px;
    border-radius: 10px;

}

.product-item img{
    width: 100%;
    border-radius: 10px;
    /* tạo hiệu ứng */
    transition: transform 0.3s;
    transform-origin: center center;
}

.product-item img:hover{
    /* hiệu ứng zoom 1.5 khi hover */
    transform: scale(1.5);
}

.img-product{
    border-radius: 10px;
    /* Zoom to nhưng không tràn ra khỏi khung */
    position: relative;
    overflow: hidden;
}

.name-product a{
    font-weight: 700;
}

.price-1{
    text-decoration: line-through;
    font-size: 16px;
    color: #666666;
}

.price-2{
    color: red;
    font-weight: 800;
}

.product-item>button{
    background-color: #e6e5ed;
    color: var(--colorWhite);
    border: none;
    font-size: 14px;
    padding: 5px;
    margin-top: 8px;
    border-radius: 5px;
    width: 100%;
}

.product-item>button:hover{
    box-shadow: 0 0 3px #000;
    cursor: pointer;
}
.list-product{
    margin-top: 40px;
}

.list-product h2{
    text-align: center;
}

.product-item-2 img{
    width: 100%;
    transition: transform 0.3s;
    transform-origin: center center;
}
.product-item-2 img:hover{
transform: scale(1.5);
}
.img-product-2{
    border-radius: 10px;
    /* Zoom to nhưng không tràn ra khỏi khung */
    position: relative;
    overflow: hidden;
}

.product-item-2{
    border: 1px solid var(--colorGrey);
    padding: 20px;
    text-align: center;
    
}
.news{
    display: flex;
    justify-content: space-between;
}

.news-item{
    border: 1px solid var(--colorGrey);
    width: 32%;
    padding: 18px;
}
h5{
    font-size: 18px;
    color: brown;
    margin-bottom: 10px;
}
h5:hover{
    color: red;
    text-decoration: underline;
}
p:hover{
    color: red;
}

.padding-left-0{
    padding-left: 0;
}

/* liên hệ */
 .container {
    width: 100%;
    margin: auto;
}
#hihi h2{
    text-align: center
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.column {
    flex: 1;
    padding: 10px;
}
.contact-info {
    list-style-type: none;
    padding: 0;
}
.contact-info li {
    margin-bottom: 15px;
    display: block;
}
.form {
    display: flex;
    flex-direction: column;
}
.form label {
    margin-bottom: 5px;
}
.form input, .form textarea, .form button {
    margin-bottom: 15px;
}
.form button {
    width: 100px;
    align-self: flex-start;
} 

/* Không vỡ giao diện khi ở màn hình tablet, mobile */
@media screen and (max-width: 1024px) {
    .product-item{
        width: 48%;
    } 
}
@media screen and (max-width: 720px) {
    .product-item{
        width: 100%;
    } 
}
header {
    position: relative;
  }
  
  /* Chữ FPT */
  .fpt-text {
    position: absolute;
    top: 10%;
    left: 0%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    color:mediumorchid;
    animation: move 7s infinite linear; 
  }
  
  @keyframes move {
    0% {
      transform: translateX(10px); 
    }
    100% {
      transform: translateX(1500px); 
    }
  }
  
  
  @keyframes move-bg {
    0% {
      background-position: 0px 0px; 
    }
    100% {
      background-position: 200px 0px;
    }
  }
  .img-product {
    border: 5px solid #ccc; /* Khung 5px màu xám */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 10px; /* Khung 10px */
  background-color: #f0f0f0; /* Màu nền khung */
  }